table {
    width: 50%;
    border-collapse: collapse;

}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.description-column {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

