* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generelle stilarter */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    font-size: 2em;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main */
main {
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
}
p {
    line-height: 1.5;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}
