<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Attraction List</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<h1>Turist Attraktioner</h1>

<table>
    <tr>
        <th>Navn</th>
        <th class="description-column">Beskrivelse</th>
        <th>By</th>
        <th></th>
        <th></th> <!-- Tilføjet kolonne for Opdater knap -->
        <th></th> <!-- Tilføjet kolonne for Slet knap -->

    </tr>

    <tr th:each="attraction : ${attractions}">
        <td>
            <a th:href="@{'/attractions/' + ${attraction.name}}">
                <span th:text="${attraction.name}">Attraktion Navn</span>
            </a>
        </td>
        <td th:text="${attraction.description}" class="description-column">Attraktion Beskrivelse</td>
        <td th:text="${attraction.city}"></td>
        <td>
            <a th:href="@{'/attractions/' + ${attraction.name} + '/tags'}">
                <button type="button">Tags</button>
            </a>
        </td>
        <td>
            <button type="button">Opdater</button>
        </td>
        <td>
            <button type="button">Slet</button>
        </td>
    </tr>
</table>

<a th:href="@{/attractions/add}">
    <button type="button">Tilføj Attraktion</button>
</a>

<div th:if="${tags}">
    <h2>Tags for Attraktion</h2>
    <ul>
        <li th:each="tag : ${tags}" th:text="${tag}"></li>
    </ul>
    <a th:href="@{/attractions}">Tilbage</a>
</div>

</body>

</html>
