<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
        <meta charset="UTF-8">
        <title>Add Attraction</title>

    <meta charset="UTF-8">
    <title>Attraction List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .description-column {
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>

<h1>Turist Attraktioner</h1>

<table>
    <tr>
        <th>Navn</th>
        <th class="description-column">Beskrivelse</th>
        <th></th>
    </tr>

    <tr th:each="attraction : ${attractions}">
        <td>
            <a th:href="@{'/attractions/' + ${attraction.name}}"> <!-- Link til detaljeside for attraktion -->
                <span th:text="${attraction.name}">Attraktion Navn</span>
            </a>
        </td>
        <td th:text="${attraction.description}" class="description-column">Attraktion Beskrivelse</td>
        <td>
            <button type="button"> Tags</button>
        </td>
    </tr>

</table>

<button type="submit">Tilføj Attraktion</button>

</body>

</html>
